@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Global attributes */
:root {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Roboto';
  background-color: #059669;
}

.header, .player-one, .player-two {
  color: #f0fdf4;
}

/* Body Div */
.body-div {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 20vh 60vh 20vh;
  grid-template-columns: 1fr;
  align-items: center;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  font-size: 60px;
}

/* Body */
.content {
  height: 100%;
  display: flex;
  justify-content: center;
}

.gameboard-container {
  height: 100%;
  width: 610px;
  grid-gap: 5px;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
}

.tile {
  background-color: #ecfdf5;
  font-size: 100px;
  font-weight: 500;
  color:#4ade80;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty:hover {
  background-color: #dcfce7;
  cursor: pointer;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
  gap: 30px;
  font-size: 30px;
}

.player-one-container, .player-two-container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
  padding: 20px 20px;
}

.marker-one, .marker-two {
  font-size: 50px;
  color: #4ade80;
}

/* Middle Footer */
.middle-footer {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  height: 100%;
}

.switch-button, .start-button {
  border: none;
  border-radius: 15px;
  padding: 20px 30px;
  font-size: 17px;
  font-weight: 700;
  background-color: #a7f9be;
  cursor: pointer;
}

.switch-button:hover, .start-button:hover {
  background-color: #69e88d;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 0.1);
}

.start-button {
  padding: 20px 47px;
}

.announcer {
  position: relative;
  bottom: 40px;
  font-size: 50px;
  font-weight: 400;
  color: #ecfdf5;
}