@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Global attributes */
:root {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.header, .footer {
  flex: 1;
  width: 100%;
}

.header, .player-one, .player-two {
  color: #8bba9c;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

/* Body */
.border-container {
  background-color: #4ade80;
  width: 610px;
}

.gameboard-container {
  width: 602px;
  grid-gap: 5px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
}

.tile {
  background-color: #f0fdf4;
  width: 200px;
  height: 200px;
  font-size: 100px;
  font-weight: 500;
  color:#4ade80;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty:hover {
  background-color: #dcfce7;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  font-size: 30px;
}

.player-one, .player-two {
  display: flex;
  align-items: center;
  gap: 20px;
}

.marker-one, .marker-two {
  font-size: 50px;
  color: #4ade80;
}