@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Global attributes */
:root {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

/* Body */
.border-container {
  background-color: #4ade80;
  width: 610px;
}

.gameboard-container {
  width: 602px;
  grid-gap: 5px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
}

.tile {
  background-color: #f0fdf4;
  width: 200px;
  height: 200px;
  font-size: 100px;
  font-weight: 500;
  color:#4ade80;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile:hover {
  background-color: #dcfce7;
}